<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asustr.anket">


    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/icon2"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".AnketGiris"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".KullaniciMainActivity"></activity>
        <activity android:name=".KayitOl" />
        <activity android:name=".SifremiUnuttum" />
        <activity android:name=".AnketCoktanSecmeli" />
        <activity android:name=".AnketResimliSoru"></activity>
        <activity android:name=".AnketParagraf"></activity>
        <activity android:name=".SoruEkle"></activity>
        <activity android:name=".AnketOnayKutulari"></activity>
        <activity android:name=".AnketOlustur"></activity>
        <activity android:name=".AnketKisaYanit"></activity>
        <activity android:name=".AnketBitisTarih"></activity>
        <activity android:name=".AnketlerimSorular"></activity>

    </application>

</manifest>